body {
    overflow: hidden;
    margin: 50px;
    background: linear-gradient(to right, #111213, #9ac4aa);
}

.wrapper {
    margin: auto;
    width: 300px;
    border-radius: 30px;
    background-color: rgb(34, 32, 32);
    padding: 60px 10px 10px 10px;
}

.screen {
    color: white;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 30px 25px;  

}

.button {
    width: 65px;
    height: 65px;
    margin: 3px;
    border: none;
    border-radius: 60%;
    padding: 10px;
    max-width: 23%;
    font-size: 25px;  
}


.operator {
    background-color: #f09739;
    color:white;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

.button-rows .operator:hover {
    background-color: #ffffff;
    color: #f09739;
}


.number {
    background-color: #0e0d0d;
    color:#f5f5fc;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

.button-rows .number:hover {
    background-color: #080808
}

.button-rows .all-clear:hover {
    border: none;
    background-color: #9ac4aa;
}

.button-rows .delete:hover {
    background-color: #9ac4aa;
}

.button-rows .percent:hover {
    background-color: #9ac4aa;
}
.double {
    width: 140px;
    height: 60px;
    margin: 3px;
    border: none;
    border-radius: 50px;
    text-align: left;
    padding-left: 40px;
  
}